*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-button{
    display: none;
}
.second_wrap{
    position: relative;
    /* max-width: 100%; */
    height:55vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.884) 50%, rgba(31, 30, 30, 0.432)),url('../images/school.jpg');
    /* background-image: url('../images/cricket.jpg'); */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-wrapper{
    position: relative;
    /* max-width: 100%; */
    height:85vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.884) 30%, rgba(31, 30, 30, 0.26)),url('../images/uk-school.png');
    /* background-image: url('../images/cricket.jpg'); */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-wrapper .row:first-of-type{
    padding: 10px 15px;
    /* background: rgb(255, 255, 255); */
}
.main-wrapper-1 .row:first-of-type{
    padding: 10px 15px;
    /* background: rgb(255, 255, 255); */
}
.goo-face .nav a{
    font-size: 14px;
}
.top-kotdhar-nav{
    padding: 6px 15px;
    border-bottom: 1px solid rgb(185, 184, 184);
    width: 100% !important;
    top:0%;
    z-index: 1000;
    background:rgb(252, 252, 252);
    position: absolute;
}
.main-sport-dropdown{
    cursor: pointer;
    position: relative;
}
.kotdhar-logo{
    padding: 2px 40px;
}
.kotdhar-logo .img-fluid{
    height: 80px;
    width:100px;
}
.kotdhar-nav>.nav>.nav-link{
    border: 1px solid rgb(233, 231, 231);
    border-radius: 5px;
    margin: 0px 12px;
    font-weight: 500;
    color: black;
}
.kotdhar-nav>.nav>.nav-link:hover{
    border-bottom: 1px solid rgb(126, 121, 121);
    border-radius: 5px;
    background-color: rgba(231, 225, 225, 0.89);
}
.kotdhar-nav .nav{
    padding: 15px 0px;
    display: flex;
    align-items: center;
    margin-top: auto;
    justify-content: flex-end;
}
.kotdhar-nav-1>.nav>.nav-link{
    position: relative;
    box-sizing: border-box;
    margin-top:-3px;
    color: rgb(73, 71, 71);
}
.red{
    color: crimson;
}
.kotdhar-nav-1>.nav>.nav-link>i>sup{
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: crimson;
    top: 26%;
    right: -1%;
    position: absolute;
    /* margin-top: -140px; */
    font-size: 20px;
}
.kotdhar-nav-1 .nav{
    padding: 15px 0px;
    color: brown;
    /* justify-content: center; */
}
/* heading */
.heading{
    margin-top: 70px;
    padding:80px 60px;
}
.heading h4{
    color:#fff;
    font-size: 50px;
}
.heading-1{
    padding: 20px 60px;
    margin-left: 20px;
}
.heading-1 h1{
    color: rgb(23, 25, 26);
    margin: 0rem;
    font-size: 60px;
}
.heading-1 hr{
    width: 250px;
    height: 1px;
    background: rgb(199, 57, 57);
    border: 1px solid rgb(192, 53, 53);
}
.heading h1{
    color: cornsilk;
    font-size: 70px;
}
.heading h2{
    color: cornsilk;
    font-size: 55px;
}
.heading p{
    color: cornsilk;
    font-size: 20px;
}
.section-tournament-1{
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 2rem;
}
.section-tournament{
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 1rem;
}
.section-tournament-1 h1{
    /* border-bottom:2px solid rgb(207, 58, 58) ; */
    display: block;
    padding-left: 1rem;
    font-size: 60px;
}
.section-tournament-1 h1 img{
    height:60px; width:58px; margin-top:6px;
}
.section-tournament-1 hr{
    border:2px solid rgb(221, 86, 86) ;
    margin-left: 6px;
    border-radius: 5px;
    width: 300px;
}
.tournament-box{
    margin-bottom: 4rem;
    margin-right: 3rem;
    border-radius: 5px;
    /* padding: 1rem 2rem; */
    height: 460px;
    width:350px;
    border: 1px solid rgb(209, 208, 208);
}
.academy-box{
    /* padding:1rem; */
    background-color: rgb(235, 62, 114);
}
.academy-box .row img{
    image-rendering: crisp-edges;
    height:200px;
    width: 100%;
}
.vs{
    background: #000;
    color: #fff;
    display: block;
    padding: 6px 8px;
    /* border: 1px solid #000; */
    border-radius: 50%;
}
.bg-kotdhar{
    background-color: crimson !important;
}
.tournament-details{
    padding: 30px;
}
.tournament-details .nav{
    /* padding-top: 40px; */
    justify-content: center;
}
.tournament-header-20{
    height:160px;
}
.tournament-details h5{
    font-size: 20px;
}
.tournament-details span{
    font-size: 15px;
}
.pagination .nav .nav-link{
    justify-content: center;
    margin: 6px;
    color: #fff;
    border: 1px solid rgb(224, 221, 221);
    border-radius: 8px;
    background-color: crimson;
    /* border: 1px solid #000; */
}
.search-bar{
    /* border: 1px solid rgb(224, 222, 222); */
    margin-left: 1rem;
    margin-top: 5rem;
}
.gallery-img{
    /* border: 2px solid #c4c2b7; */
    margin-left: 40px;
    margin-top: 30px;
    padding: 10px;
}
.gallery-img img{
    border: 1px solid #dad9d3;
    padding: 16px;
    height:100%;
    width: 100%;
}
.search-bar .search-box{
    border-radius: 4px;
    padding: 20px 15px;
    border: 1px solid rgb(151, 149, 149);
    margin: 0.25rem 0rem;
}
.search-bar .search-box .btn{
    /* border-radius: 30px; */
    color: #fff;
}
.upcoming-match{
    margin-top: 2rem;
    /* background: #000; */
}
.upcoming-match h1{
    border: 1px solid rgb(170, 168, 168);
    padding: 10px 8px;
    font-size: 30px;
}
.upcoming-match-wrap{
    display: block;
    text-decoration: none;
    color: #000;
    border: 1px solid rgba(202, 200, 200, 0.842);
    margin: 1rem 0rem;
    /* height: 200px; */
}
.upcoming-match-wrap:hover{
    color: #000;
    /* opacity: 0.8; */
    background: rgba(51, 211, 203, 0.295);
    border: 1px solid rgb(206, 204, 204);
}
.upcoming-img{
    background-color: rgb(50, 206, 206);
    /* position: relative; */
    height: 150px;
}
.upcoming-img .row{
    /* width: 80px; */
    height: 150px;
}
.upcoming-img .row img{
    /* width: 60px; */
    height: 150px;
}
.upcoming-heading{
    padding:12px 10px;
}
.upcoming-heading h5{
    color: rgb(212, 44, 44);
    font-size: 14px;
}
.upcoming-heading h5 span{
    color: black;
    font-size: 12px;
}
.sub-section{
    /* height: 300px; */
    display: flex;
    justify-content: center;
    background: rgb(230, 227, 227);
}
.sub-section .sub-wrap{
    width: 400px;
    background: rgb(37, 37, 37);
    padding: 40px 10px;
    text-align: center;
    color: #fff;
}
.atal-yojana li{
    font-size: 18px;
    font-weight: 500;
}
.atal-yojana p{
    font-size: 18px;
}
.sub-wrap h5{
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 45px;
}
.sub-wrap h6{
    margin-top:5px ;
    font-weight: 400;
    color: rgb(200, 201, 202);
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.input-box{
    margin-top:15px;
    background: rgba(90, 89, 89, 0.945);
    width:340px;
    font-size: 14px;
    color: #fff;
    padding: 0px 10px;
    height: 50px;
    border:1px solid rgb(95, 94, 94);
}
.input-box:focus{
    outline: none;
    border:1px solid rgb(95, 94, 94);
}
.input-box::placeholder{
    letter-spacing: 1px;
    color: rgb(202, 199, 199);
}
.sub-button{
    cursor: pointer;
    margin: 10px;
    font-size: 14px;
    border: 2px solid rgb(216, 215, 215);
    color: rgb(219, 217, 217);
    background: inherit;
    letter-spacing: 2px;
    padding: 12px 40px;
}
.sub-button:hover{
    background:rgb(54, 54, 54);
}
.sub-wrap textarea{
    height: 80px;
    resize: none;
}
/* footer */
.footer{
    background-color: rgb(19, 18, 18);
    color: #fff;
}
.footer .col-md-3, .footer .col-md-5{
    padding: 40px 50px;
}
.about-img ,img{
    height: 80px;
    width: 80px;
}
.about-para p{
    text-align: justify;
    font-weight: 500;
    padding-top: 10px;
}
.about-para .nav img{
    height: 30px;
    width:30px
}
.imp-link hr{
    border-bottom: 2px solid rgb(252, 252, 252);
    width: 200px;
}
.imp-link .nav{
    color: #fff;
    flex-direction: column;
}
.imp-link .nav a{
    font-weight: 500;
    padding:6px 5px;
    color: #fff;
    text-decoration: none;
}
.contact-us-1 hr{
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 150px;
}
.contact-us-1 .nav{
    color: #fff;
    flex-direction: column;
}
.contact-us-1 .nav a{
    font-weight: 500;
    padding:6px 5px;
    color: #fff;
    text-decoration: none;
}
.contact-us-1 .nav a i{
    font-size: 24px;
}
.google-map hr{
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 160px;
}
.google-map iframe{
    /* border: 1px solid rgb(189, 184, 184); */
    width:250px;
    height: 280px;
}
.copyright{
    padding: 8px;
    font-size: 14px;
}
/* about */
.about{
    padding:4rem 1rem ;
}
.about-img-1{
    margin-top: 1rem;
    /* border: 1px solid #000; */
    height: 350px;
    position: relative;
}
.about-img-1 img{
    border: 3px solid rgb(134, 132, 132);
    height: 100%;
    width: 100%;
}
.about-header-1{
    text-align: justify;
    padding: 2px 40px;
}
.about-header-1 h4{
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 500;
}
.about-header-1 p{
    font-size: 16px;
    font-weight: 500;
}
.about-header-1 hr{
    border:2px solid rgb(221, 86, 86) ;
    margin-left: 6px;
    border-radius: 5px;
    width: 500px;
}

.sub-section-1{
    /* height: 300px; */
    background: rgb(36, 33, 33);
}
.sub-section-1 .sub-wrap-1{
    padding: 40px 10px;
    text-align: center;
    color: #fff;
}
.sub-wrap-1 hr{
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    border: 2px solid crimson;
}
.sub-wrap-1 h5{
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 45px;
}
.mobile-log{
    display: none;
}
/* contact */
.contact-us{
    margin:5rem -2rem !important;
}
.contact-us hr{
    border: 2px solid rgb(47, 156, 206);
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}
.contact-us .col-md-4 , .contact-us .col-md-3{
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    background-color: transparent;
}
.contact-us .col-md-4:hover , .contact-us .col-md-3:hover{
    border-radius: 5px;
    color: rgb(17, 16, 16);
    font-weight: 500;
    background-color: transparent;
}